extends ../layout.pug

block content
    h1=`Here are your books`
        .container
            each book in books
                .book
                    a(href=`/books/details/${book._id}`): img.bookPoster(src=`${book.url}`)
        