<form action="#/login" method="post" id="login-form">
    <label for="username-login">Username</label>
    <input type="text" name="usernameLogin" id="username-login" placeholder="Username">
    <label for="password-login">Password</label>
    <input type="password" name="passwordLogin" id="password-login" placeholder="Password">
    <input id="loginBtn" type="submit" value="Login" />
</form>