<div class="container">
  <div class="row space-top">
      <div class="col-md-12">
          <h1>Profile Page</h1>
          <p>Listing  your furniture.</p>
      </div>
  </div>
  <div class="row space-top">
      <div *ngFor="let f of furnitures | async" class="col-md-4">
          <div class="card text-white bg-primary">
              <div class="card-body">
                  <blockquote class="card-blockquote">
                      <img src="{{f.image}}" />
                      <p>{{f.description}}</p>
                      <div class="pull-right">
                          <a routerLink="../details/{{f.id}}" class="btn btn-info">Details</a>
                          <a (click)="delete(f.id)" class="btn btn-danger">Delete Item</a>
                      </div>
                  </blockquote>
              </div>
          </div>
      </div>
</div>
